<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>title</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="assets/template/app/img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="assets/template/app/img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/template/app/img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/template/app/img/favicon/apple-touch-icon-114x114.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800&amp;subset=cyrillic" rel="stylesheet">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/libs.css">
</head>
<body>
		<header class="header">
			<div class="container"></div>
		</header>
		<main class="content">
			<section class="section1">
				<div></div>
				<div class="bg_1"></div>
				<div class="bg_2"></div>
				<div class="container">
					<h1 class="mainTitle">
						Петербургский дом</br>
						недвижисмости</h1>
					<div class="pet__text">
						Ведущий брокер строящейся недвижимости и</br>
						лидер по продажам квартир и объемам ипотечных</br>
						 сделок в северной столице России
					</div>
					<div class="pet__text2">
						Основной инструмент на сайте это</br> фильтр, где пользователь выбирает</br> недвижимость по параметрам.
					</div>
				</div>
			</section>
		</main>
		<footer class="foot">
			<div class="container"></div>
		</footer>

	<div class="preloader"><div class="pulse"></div></div>
	<!--<div class="top" title="Наверх"><i class="fa fa-angle-double-up"></i></div>-->
	<script src="js/scripts.min.js"></script>
	<script src="js/common.js"></script>
</body>
</html>
